.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #bbd6b8;

  > .link {
    color: #3366bb;
    text-decoration: none;
    font-weight: bold;
  }

  > .link:hover {
    color: #5491c8;
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .header {
    height: 70px;
  }
}
