.main_content {
  margin: 5px;
  transition: color 0.2s ease-in-out; /* ホバー時の色変化を設定 */
  :hover {
    color: #ff6347; /* ホバー時のテキスト色を変更 */
  }
}

.container {
  display: flex;
  justify-content: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(
    8,
    1fr
  ); /* 8分割するために、列を8つ用意します */
  grid-gap: 10px; /* 各セルの間に余白を設けます */
  @media (max-width: 400px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  text-decoration: none;
}
