.name_content {
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid #eee;
  font-weight: bold; /* テキストに太字を適用 */

  .name_font {
    text-align: center;
    font-size: 12px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}
